@using Fen_Test.Web.Theme
@model Fen_Test.Web.Views.Shared.Components.AccountLogo.AccountLogoViewModel
@inject IUiThemeCustomizer UiThemeCustomizer
<div class="logo">
    <a href="~/">
        <img src="@Model.GetLogoUrl(ApplicationPath)" alt="" width="139" height="35" />
    </a>
</div>